h1,
p {
  font-family: Lato;
}

ul {
  list-style-type: none;
}
.items {
  position: relative;
  width: 50vw;
  margin-top: 2px;
  padding: 5px;
  background-color: white;
  text-align: center;
  border: 1px solid grey;
  transition: all 1s;
}

.hidden {
  top: -100vh;
}

.slideDown {
  animation: drop 1s ease-in;
}

@keyframes drop {
  0% {
    top: -100vh;
  }
  70% {
    top: 20px;
  }
  80% {
    top: -10px;
  }
  90% {
    top: 5px;
  }
  95% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}
